body{
    background-color: black;
    overflow: hidden;
    overflow-x: hidden;
}

.square{
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.squarespan:inth-child(1){
    position: obsolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#21e613 50%, #f1f507 50%);
    box-shadow: 0 0 50px rgb(25,0,255), insert 0 0 50px rgb(25,0,255);
    border-radius: 36% 62% 63% 37% / 41% 46% 54% 57%;
    transition: 0,5s;
    animation: animate1 6s linear infinite;
}
.squarespan:inth-child(2){
    position: obsolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#21e613 50%, #f1f507 50%);
    box-shadow: 0 0 50px rgb(25,0,255), insert 0 0 50px rgb(25,0,255);
    border-radius: 36% 62% 63% 37% / 41% 46% 54% 57%;
    transition: 0,5s;
    animation: animate2 4s linear infinite;
}
.squarespan:inth-child(3){
    position: obsolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#21e613 50%, #f1f507 50%);
    box-shadow: 0 0 50px rgb(25,0,255), insert 0 0 50px rgb(25,0,255);
    border-radius: 36% 62% 63% 37% / 41% 46% 54% 57%;
    transition: 0,5s;
    animation: animate3 0s linear infinite;
}

@keyframes animate1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animate2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animate3{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}